certifi==2022.12.7
chardet==3.0.4
datadog==0.24.0
decorator==4.3.0
idna==2.7
PlexAPI==3.1.0
PyYaml>=4.2b1
requests==2.20.1
simplejson==3.16.0
six==1.11.0
tqdm==4.28.1
urllib3==1.24.2
websocket-client==0.54.0
